@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", "sans-serif";
  --color-gray: #666666;
  --color-purple-strong: #7259ff;
  --color-purple-light: #e5eaf0;
  --color-purple-mid: #bbc6ef;
}

@layer components {
  .markdown {
    @apply prose text-gray;
  }

  .markdown p {
    @apply my-4 text-base font-normal has-[+ul]:mb-0;
  }

  .markdown h2 {
    @apply mt-4 mb-2 text-2xl font-bold text-black dark:text-white;
  }

  .markdown ul {
    @apply my-0 marker:text-gray;
  }

  .markdown li {
    @apply text-base;
  }

  .markdown a {
    @apply font-normal text-purple-strong no-underline;
  }

  .animated {
    @apply transition-all duration-300 ease-in-out;
  }
}
